<style>
h1 { color:black;
font-family: 'Courier New' }

h2 { color:black;
font-family: 'Courier New'}

button { color:black;
font-family: 'Courier New';
border: 2px solid #ddd;
border-radius: 10px;
padding: 10px;
color: white;
background-color: black;
}
</style>

<h1>Game over: <%=@current_player%> won!!! <%=@next_player%> lost!!!</h1>

<form action="/" method="get" id='form1'>
</form>
<button type="submit" form="form1" value="Submit">Play again</button>
