<style>
h1 { color:black;
font-family: 'Courier New' }

h2 { color:black;
font-family: 'Courier New'}
</style>

<h1>Please enter your names</h1>

<form action="/form_store" method="post">
  <label for="player_1_name">Player 1:</label><br>
  <input type="text" name="player_1_name" value="Player 1">
  <br><br>
  <label for="player_2_name">Player 2:</label><br>
  <input type="text" name="player_2_name" value="Player 2">
  <input type="submit" value="Submit">
</form> 
