<!DOCTYPE html>
  <html>
    <head>
    <title>Index</title>
    </head>

    <body>
      <form action="/form_store" method="post">
        <input type="text" name="player_1_name">
        <input type="text" name="player_2_name">
        <input type="submit" value="Submit">
      </form>
    </body>
  </html>  
