<style>
h1 { color:black;
font-family: verdana }

h2 { color:black;
font-family: verdana}
</style>
<h1>Please enter your names</h1>

<form action="/form_store" method="post">
  <input type="text" name="player_1_name" value="Player 1">
  <input type="text" name="player_2_name" value="Player 2">
  <input type="submit" value="Submit">
</form>
